/* ----------- iPad and tablets and laptops ----------- */

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */
  #wrapper nav { flex: 1 auto; }
  #wrapper main { flex: 5 0px; }

  #wrapper header     { order: 1; }
  #wrapper nav        { order: 2; }
  #wrapper main       { order: 2; }
  #wrapper footer     { order: 3; }
}
