*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

#wrapper{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: row;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-items: space-between;
  align-content: stretch;
  padding: 5px;
  height:100%;
  text-align:center;
}

#wrapper > * {
  flex: 1 100%;
}
#wrapper header    { order: 0;}
#wrapper nav    { order: 1;}
#wrapper main { order: 2;}
#wrapper footer  { order: 3;}


.header{
  color:#aa5533;
  font-size:normal;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  align-content: stretch;
}

.header h1 a{
  color:#aa5533;
  text-decoration: none;
}

.header img{
  height:60px;
}
.menu {
  background-color: #336;
  width: 40px;
	height: 40px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
  text-align: center;
}

.menu:hover{
  background-color:#ccc;
}

.menu a{
  font-size:1.4em;
  color:#ccc;
}

.menu a:hover{
  color:#336;
}

nav #accordion{
  display:block;
}

.flex-container{
  padding:0px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items:center;
  align-content:stretch;
  height:300px;
  background: -webkit-radial-gradient(60% 55%, farthest-corner,#efefff,#dfdfff,#cfcfff,#bfbfff); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(60% 55%, farthest-corner,#efefff,#dfdfff,#cfcfff,#bfbfff); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(60% 55%, farthest-corner,#efefff,#dfdfff,#cfcfff,#bfbfff); /* For Firefox 3.6 to 15 */
  background: radial-gradient(farthest-corner at 25% 35% 55%,#efefff,#dfdfff,#cfcfff,#bfbfff);
}

.flex-container a{
  font-size:1.2em;
  display:block;
  float:left;
  outline: none;
  text-decoration: none;
  text-align: center;
  background: rgba(200,200,200,0.2);

  border-bottom: 1px solid #449;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 0px 0px 10px 10px;
  margin-top:5px;
  line-height:1.4em;
}

.flex-container a:hover {
  background: rgba(200,200,255,0.75);
}

#contentTitle{
  color:#ddffee;
  background: -webkit-radial-gradient(60% 55%, farthest-corner,#242,#353,#464,#575); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(60% 55%, farthest-corner,#242,#353,#464,#575); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(60% 55%, farthest-corner,#242,#353,#464,#575); /* For Firefox 3.6 to 15 */
  background: radial-gradient(farthest-corner at 40% 25%,#242,#353,#464,#575);
  line-height:1.6em;
}

#contentText {
  text-align:center;
  color: #220;
  /* background: -webkit-radial-gradient(25% 25%, farthest-corner,#ccffaa,#acef9a,#9ccf8a,#8cc677); /* Safari 5.1 to 6.0 */
  /* background: -o-radial-gradient(25% 25%, farthest-corner,#ccffaa,#acef9a,#9ccf8a,#8cc677); /* For Opera 11.6 to 12.0 */
  /* background: -moz-radial-gradient(25% 25%, farthest-corner,#ccffaa,#acef9a,#9ccf8a,#8cc677); /* For Firefox 3.6 to 15 */
  /* background: radial-gradient(farthest-corner at 25% 25% ,#ccffaa,#acef9a,#9ccf8a,#8cc677); */
  background: #cac531; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #cac531, #f3f9a7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #cac531, #f3f9a7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height:100%;
}

#Author, #btnPrev {
  left:0;
  float:left;
  position:relative;
  text-decoration: none;
  border-radius:5px;
  padding:0px 5px;
}

#Speak, #btnNext  {
  right:0;
  float:right;
  position:relative;
  text-decoration: none;
  padding:0px 5px;
  border-radius:5px;
}

.top_buttons{
  background-color:#dbdcaf;
  color:#462;
  border-left:2px solid #462;
  border-right:2px solid #462;
}

.bottom_buttons{
  background-color:#aaebff;
  color:#65A;
  border-left:2px solid #65A;
  border-right:2px solid #65A;
}

main {
  margin-top:.16em;
}
